{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>
  <h1>Welcome {{user}}</h1>
  <div>
<table class="table" align="center ml-3 pl-3">
    <thead>
    <tr align="center">
        {% comment %} <th>id</th> {% endcomment %}
        <th>employeeId</th>
        <th>employee_name</th>
        <th>Products/booking/Application</th>
        <th>Reason</th>
        <th>Status</th>

    </tr></thead>

    {% for fm in pfm %}
<tr align="center">
    {% comment %} <td>{{fm.id}}</td> {% endcomment %}
    <td>{{ fm.employee_id}}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{ fm.Products }}</td>
    <td>{{ fm.Reason }}</td>

      <td> <a>{{id}}</a>
        <a href="/reject/{{fm.id}}/1">Complete</a></td>
</tr>
{% endfor %}




    {% for fm in afm %}
<tr align="center">
    {% comment %} <td>{{fm.id}}</td> {% endcomment %}
    <td>{{ fm.employee_id }}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{fm.application}}</td>
    <td>{{ fm.Reason }}</td>

      <td> <a>{{id}}</a>
        <a href="/reject/{{fm.id}}/2">Complete</a></td>
</tr>
{% endfor %}


    {% for fm in bfm %}
<tr align="center">
    {% comment %} <td>{{fm.id}}</td> {% endcomment %}
    <td>{{ fm.employee_id }}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{ fm.booking }}</td>
    <td>{{ fm.Reason }}</td>
    <td> <a>{{id}}</a>
        <a href="/reject/{{fm.id}}/3">Complete</a></td>

</tr>
{% endfor %}

</table>
  </div>
</body>
   