{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manager</title>
</head>
<body>

 <h1>Welcome {{uname}}</h1>

    {% for fm in pfm %}
    <h4>Products</h4>
    <h6>{{fm.Products}}</h6>
    {{fm.Reason}}<br>
    <a href="/accept/{{fm.id}}/1">Accept</a>
    <a href="/reject/{{fm.id}}/1">Reject</a>
    {% endfor %}



    {% for fm in afm %}
    <h4>Appilication</h4>
    <h6>{{fm.application}}</h6>
    {{fm.Reason}}<br>
    <a href="/accept/{{fm.id}}/2">Accept</a>
    <a href="/reject/{{fm.id}}/2">Reject</a>
    {% endfor %}



    {% for fm in bfm %}
    <h4>Booking</h4>
    <h6>{{fm.booking}}</h6>
    {{fm.Reason}}<br>
    <a href="/accept/{{fm.id}}/3">Accept</a>
    <a href="/reject/{{fm.id}}/3">Reject</a>
    {% endfor %}




</body>
</html>