{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .ram {
            background-color: aqua;
            display:flex;
            flex-direction: column;
            height:100vh;
            font-size: 24px;
            color:black;
        }
        .table {
            background-color: yellowgreen;
        }
    </style>

    
    <meta charset="UTF-8">
    <title>manager</title>
</head>
<body>
    <div class="ram">

 <h1>Welcome {{user}}</h1>
 {% comment %} <table class="ram">
    <tr>
    {% for fm in pfm %}
    <th>Products</th>
    <td>{{fm.employee_id}}</td>
    <td>{{fm.employee_name}}</td>
    <td>{{fm.Products}}</td>
    {{fm.Reason}}<br>
    <div class="dflex flex-row">
    <a href="/accept/{{fm.id}}/1">Accept</a>
    <a href="/reject/{{fm.id}}/1">Reject</a>
    </div>
    {% endfor %}
</tr>
 </table>
<table class="ram">
    {% for fm in afm %}
    <th>Appilication</th>
    <td>{{fm.employee_id}}</td>
    <td>{{fm.employee_name}}</td>
    <td>{{fm.application}}</td>
    {{fm.Reason}}<br>
    <div class="dflex flex-row">
    <a href="/accept/{{fm.id}}/2">Accept</a>
    <a href="/reject/{{fm.id}}/2">Reject</a>
    </div>
    {% endfor %}
</table>

<table class="ram">
    {% for fm in bfm %}
    <th>Booking</th>
    <td>{{fm.employee_id}}</td>
    <td>{{fm.employee_name}}</td>
    <td>{{fm.booking}}</td>
    {{fm.Reason}}<br>
    <div class="dflex flex-row">
    <a href="/accept/{{fm.id}}/3">Accept</a>
    <a href="/reject/{{fm.id}}/3">Reject</a>
    {% endfor %}
    </div>
 </table> {% endcomment %}
 <table class="table" align="center ml-3 pl-3">
    <thead>
    <tr align="center">
        {% comment %} <th>id</th> {% endcomment %}
        <th>employeeId</th>
        <th>employee_name</th>
        <th>Products/booking/Application</th>
        <th>Reason</th>
        <th>Status</th>
      
    </tr></thead>

    {% for fm in pfm %}
<tr align="center">
    {% comment %} <td>{{fm.id}}</td> {% endcomment %}
    <td>{{ fm.employee_id}}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{ fm.Products }}</td>
    <td>{{ fm.Reason }}</td>

      <td> <a href="/accept/{{fm.id}}/1">Accept</a>
        <a href="/reject/{{fm.id}}/1">Reject</a></td>
</tr>
{% endfor %}




    {% for fm in afm %}
<tr align="center">
    {% comment %} <td>{{fm.id}}</td> {% endcomment %}
    <td>{{ fm.employee_id }}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{fm.application}}</td>
    <td>{{ fm.Reason }}</td>
    
      <td> <a href="/accept/{{fm.id}}/2">Accept</a>
        <a href="/reject/{{fm.id}}/2">Reject</a></td>
</tr>
{% endfor %}


    {% for fm in bfm %}
<tr align="center">
    {% comment %} <td>{{fm.id}}</td> {% endcomment %}
    <td>{{ fm.employee_id }}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{ fm.booking }}</td>
    <td>{{ fm.Reason }}</td>
    <td> <a href="/accept/{{fm.id}}/3">Accept</a>
        <a href="/reject/{{fm.id}}/3">Reject</a></td>
   
</tr>
{% endfor %}

</table>


    </div>

</body>
</html>